Red Hat Enterprise Linux CoreOS 46.82.202110041927-0
  Part of OpenShift 4.6, RHCOS is a Kubernetes native operating system
  managed by the Machine Config Operator (`clusteroperator/machine-config`).

WARNING: Direct SSH access to machines is not recommended; instead,
make configuration changes via `machineconfig` objects:
  https://docs.openshift.com/container-platform/4.6/architecture/architecture-rhcos.html

---
Last login: Tue Jan 18 03:45:03 2022 from 209.20.8.47
[core@ocp300-7fmxb-master-1 ~]$ cat /etc/kubernetes/static-pod-resources/keepalived/keepalived.conf.tmpl 
global_defs {
    enable_script_security
    script_user root
}

# These are separate checks to provide the following behavior:
# If the loadbalanced endpoint is responding then all is well regardless
# of what the local api status is. Both checks will return success and
# we'll have the maximum priority. This means as long as there is a node
# with a functional loadbalancer it will get the VIP.
# If all of the loadbalancers go down but the local api is still running,
# the _both check will still succeed and allow any node with a functional
# api to take the VIP. This isn't preferred because it means all api
# traffic will go through one node, but at least it keeps the api available.
vrrp_script chk_ocp_lb {
    script "/usr/bin/timeout 1.9 /etc/keepalived/chk_ocp_script.sh"
    interval 2
    weight 20
    rise 3
    fall 2
}

vrrp_script chk_ocp_both {
    script "/usr/bin/timeout 1.9 /etc/keepalived/chk_ocp_script_both.sh"
    interval 2
    # Use a smaller weight for this check so it won't trigger the move from
    # bootstrap to master by itself.
    weight 5
    rise 3
    fall 2
}

# TODO: Improve this check. The port is assumed to be alive.
# Need to assess what is the ramification if the port is not there.
vrrp_script chk_ingress {
    script "/usr/bin/timeout 0.9 /usr/bin/curl -o /dev/null -Lfs http://localhost:1936/healthz/ready"
    interval 1
    weight 50
}

{{$nonVirtualIP := .NonVirtualIP}}

vrrp_instance {{ .Cluster.Name }}_API {
    state BACKUP
    interface br-ex
    virtual_router_id {{ .Cluster.APIVirtualRouterID }}
    priority 40
    advert_int 1
    authentication {
        auth_type PASS
        auth_pass password
    }
    virtual_ipaddress {
        {{ .Cluster.APIVIP }}
    }
    track_script {
        chk_ocp_lb
    }
}


vrrp_instance {{ .Cluster.Name }}_API_EXTERNAL {
    state BACKUP
    interface ens4
    virtual_router_id 117
    priority 40
    advert_int 1
    use_vmac
    authentication {
        auth_type PASS
        auth_pass password
    }
    virtual_ipaddress {
        172.21.112.25
    }
}

vrrp_instance {{ .Cluster.Name }}_INGRESS {
    state BACKUP
    interface br-ex
    virtual_router_id {{ .Cluster.IngressVirtualRouterID }}
    priority 40
    advert_int 1
    {{if .EnableUnicast}}
    unicast_src_ip {{.NonVirtualIP}}
    unicast_peer {
        {{range .IngressConfig.Peers}}
        {{if ne $nonVirtualIP .}}{{.}}{{end}}
        {{end}}
    }
    {{end}}
    authentication {
        auth_type PASS
        auth_pass password
    }
    virtual_ipaddress {
        {{ .Cluster.IngressVIP }}
    }
    track_script {
        chk_ingress
    }
}