. {
    errors
    health :18080
    forward . {{- range $upstream := .DNSUpstreams}} {{$upstream}}{{- end}} {
        policy sequential
    }
    cache 30
    reload
    template IN {{ .Cluster.IngressVIPRecordType }} ocp300.nfvdev.tlabs.ca {
        match .*.apps.ocp300.nfvdev.tlabs.ca
        answer "{{"{{ .Name }}"}} 60 in {{"{{ .Type }}"}} 172.21.112.14"
        fallthrough
    }
    template IN {{ .Cluster.IngressVIPEmptyType }} ocp300.nfvdev.tlabs.ca {
        match .*.apps.ocp300.nfvdev.tlabs.ca
        fallthrough
    }
    template IN {{ .Cluster.APIVIPRecordType }} ocp300.nfvdev.tlabs.ca {
        match api.ocp300.nfvdev.tlabs.ca
        answer "{{"{{ .Name }}"}} 60 in {{"{{ .Type }}"}} 172.21.104.13"
        fallthrough
    }
    template IN {{ .Cluster.APIVIPEmptyType }} ocp300.nfvdev.tlabs.ca {
        match api.ocp300.nfvdev.tlabs.ca
        fallthrough
    }
    template IN {{ .Cluster.APIVIPRecordType }} ocp300.nfvdev.tlabs.ca {
        match api-int.ocp300.nfvdev.tlabs.ca
        answer "{{"{{ .Name }}"}} 60 in {{"{{ .Type }}"}} 172.21.104.13"
        fallthrough
    }
    template IN {{ .Cluster.APIVIPEmptyType }} ocp300.nfvdev.tlabs.ca {
        match api-int.ocp300.nfvdev.tlabs.ca
        fallthrough
    }
}