{
  "ignition": {
    "version": "3.2.0"
  },
  "passwd": {
    "users": [
      {
        "name": "core",
        "sshAuthorizedKeys": []
      }
    ]
  },
  "systemd": {
    "units": []
  },
  "storage": {
    "files": [
      {
        "path": "/etc/kubernetes/manifests/coredns.yaml",
        "mode": 420,
        "overwrite": true,
        "contents": {
          "source": "data:text/plain;charset=utf-8;base64,{{ lookup('template', 'bootstrap-coredns.yaml.j2') | b64encode }}"
        }
      },
      {
        "path": "/etc/kubernetes/manifests/keepalived.yaml",
        "mode": 420,
        "overwrite": true,
        "contents": {
          "source": "data:text/plain;charset=utf-8;base64,{{ lookup('template', 'bootstrap-keepalived.yaml.j2') | b64encode }}"
        }
      },
      {
        "path": "/etc/kubernetes/static-pod-resources/coredns/Corefile.tmpl",
        "mode": 420,
        "overwrite": true,
        "contents": {
          "source": "data:text/plain;charset=utf-8;base64,{{ lookup('template', 'bootstrap-coredns-Corefile.tmpl.j2') | b64encode }}"
        }
      },
      {
        "path": "/etc/kubernetes/static-pod-resources/keepalived/keepalived.conf.tmpl",
        "mode": 420,
        "overwrite": true,
        "contents": {
          "source": "data:text/plain;charset=utf-8;base64,{{ lookup('template', 'bootstrap-keepalived.conf.tmpl.j2') | b64encode }}"
        }
      },
      {
        "path": "/etc/sysconfig/network-scripts/ifcfg-ens3",
        "mode": 420,
        "overwrite": true,
        "contents": {
          "source": "data:text/plain;charset=utf-8;base64,{{ lookup('template', 'bootstrap-ifcfg-ens3.j2') | b64encode }}"
        }
      },
      {
        "path": "/etc/rc.d/rc.local",
        "mode": 493,
        "overwrite": true,
        "contents": {
          "source": "data:text/plain;charset=utf-8;base64,{{ lookup('template', 'bootstrap-rc.local.j2') | b64encode }}"
        }
      }
    ]
  }
}