{% raw %}
. {
    errors
    health :18080
{% endraw %}

    mdns {{ cluster_name }}.{{ cluster_domain }} {% raw %} {{.Cluster.MasterAmount}} {{.Cluster.Name}} {{.NonVirtualIP}}
    forward . {{- range $upstream := .DNSUpstreams}} {{$upstream}}{{- end}} {
        policy sequential
    }
    cache 30
    reload
    hosts /etc/coredns/api-int.hosts {% endraw %} {{ cluster_name }}.{{ cluster_domain }} {
        {% raw %} {{ keepalived.api }} {% endraw %} api-int.{{ cluster_name }}.{{ cluster_domain }} api.{{ cluster_name }}.{{ cluster_domain }}
        fallthrough
    }
}