BOOTPROTO=none
DEFROUTE=no
NAME=ens3
DEVICE=ens3
ONBOOT=yes
IPADDR={{ bootstrap.ip_cluster }}
PREFIX={{ networks.cluster.ocp_core.cidr | ipaddr('prefix') }}
MTU={{ networks.cluster.mtu }}
GATEWAY={{ networks.cluster.ocp_core.gateway }}
DOMAIN=localdomain
DNS1=127.0.0.1
{% for d in dns_nameservers.nameservers %}
DNS{{ loop.index + 1 }}={{ d }}
{% endfor %}
