BOOTPROTO=none
DEFROUTE=no
NAME=ens3
DEVICE=ens3
ONBOOT=yes
IPADDR=172.21.104.21
PREFIX=26
MTU=2150
GATEWAY=172.21.104.1
DOMAIN=ocp300.nfvdev.tlabs.ca
DNS1=172.21.104.21
DNS2=205.206.214.249
DNS3=209.20.8.249

BOOTPROTO=none
DEFROUTE=no
NAME=ens3
DEVICE=ens3
ONBOOT=yes
IPADDR={{ ip_cluster }}
PREFIX={{ networks.cluster.ocp_core.cidr | ipaddr('prefix') }}
MTU={{ networks.cluster.mtu }}
GATEWAY={{ networks.cluster.ocp_core.gateway }}
DOMAIN=ocp300.nfvdev.tlabs.ca
{% for d in dns_nameservers.nameservers %}
DNS{{ loop.index }}={{ d }}
{% endfor %}
