{% raw %}

global_defs {
    enable_script_security
    script_user root
    max_auto_priority -1
    vrrp_garp_master_refresh 60
}

{{$nonVirtualIP := .NonVirtualIP}}

vrrp_instance {{ .Cluster.Name }}_API {
    state BACKUP
    interface ens3
    virtual_router_id 116
    priority 40
    advert_int 1
    {{if .EnableUnicast}}
    unicast_src_ip {{.NonVirtualIP}}
    unicast_peer {
        {{- range .LBConfig.Backends -}}
        {{- if ne $nonVirtualIP .Address}}
        {{.Address}}
        {{- end}}
        {{- end}}
    }
    {{end}}
    authentication {
        auth_type PASS
        auth_pass password
    }
    virtual_ipaddress {
        {{ .Cluster.APIVIP }}/{{ .Cluster.VIPNetmask }}
    }
}

vrrp_instance {{ .Cluster.Name }}_INGRESS {
    state BACKUP
    interface ens3
    virtual_router_id 117
    priority 20
    advert_int 1
    {{if .EnableUnicast}}
    unicast_src_ip {{.NonVirtualIP}}
    unicast_peer {
        {{- range .IngressConfig.Peers}}
        {{- if ne $nonVirtualIP .}}
        {{.}}
        {{- end}}
        {{- end}}
    }
    {{end}}
    authentication {
        auth_type PASS
        auth_pass password
    }
    virtual_ipaddress {
        {{ .Cluster.IngressVIP }}/{{ .Cluster.VIPNetmask }}
    }
}


vrrp_instance {{ .Cluster.Name }}_API_EXTERNAL {
    state BACKUP
    interface br-ex
    virtual_router_id 118
    priority 40
    advert_int 1
    use_vmac
    {{if .EnableUnicast}}
    unicast_src_ip {{.NonVirtualIP}}
    unicast_peer {
        {{ .BootstrapIP }}
        {{range .LBConfig.Backends}}
        {{if ne $nonVirtualIP .Address}}{{.Address}}{{end}}
        {{end}}
    }
    {{end}}
{% endraw %}
    authentication {
        auth_type PASS
        auth_pass password
    }
    virtual_ipaddress {
        {{ keepalived.apipublic }}/32
    }
}
