{
  "storage": {
    "files": [
      {
        "path": "/etc/hostname",
        "mode": 420,
        "contents": {
          "source": "data:text/plain;charset=utf-8;base64,{{ fqdn | b64encode }}",
          "verification": {}
        },
        "filesystem": "root"
      },
      {
        "path": "/etc/mdns/hostname",
        "mode": 420,
        "contents": {
          "source": "data:text/plain;charset=utf-8;base64,{{ fqdn | b64encode }}",
          "verification": {}
        },
        "filesystem": "root"
      },
      {
        "path": "/etc/kubernetes/manifests/coredns.yaml",
        "mode": 420,
        "overwrite": true,
        "contents": {
            "source": "data:text/plain;charset=utf-8;base64,{{ lookup('template', 'master-coredns.yaml.j2') | b64encode }}"
        }
      },
      {
        "path": "/etc/kubernetes/manifests/haproxy.yaml",
        "mode": 420,
        "overwrite": true,
        "contents": {
            "source": "data:text/plain;charset=utf-8;base64,{{ lookup('template', 'master-haproxy.yaml.j2') | b64encode }}"
        }
      },
      {
        "path": "/etc/kubernetes/manifests/keepalived.yaml",
        "mode": 420,
        "overwrite": true,
        "contents": {
            "source": "data:text/plain;charset=utf-8;base64,{{ lookup('template', 'master-keepalived.yaml.j2') | b64encode }}"
        }
      },
      {
        "path": "/etc/kubernetes/manifests/mdns-publisher.yaml",
        "mode": 420,
        "overwrite": true,
        "contents": {
            "source": "data:text/plain;charset=utf-8;base64,{{ lookup('template', 'master-mdns-publisher.yaml.j2') | b64encode }}"
        }
      },
      {
        "path": "/etc/kubernetes/static-pod-resources/coredns/Corefile.tmpl",
        "mode": 420,
        "overwrite": true,
        "contents": {
            "source": "data:text/plain;charset=utf-8;base64,{{ lookup('template', 'master-coredns-Corefile.tmpl.j2') | b64encode }}"
        }
      },
      {
        "path": "/etc/kubernetes/static-pod-resources/haproxy/haproxy.cfg.tmpl",
        "mode": 420,
        "overwrite": true,
        "contents": {
            "source": "data:text/plain;charset=utf-8;base64,{{ lookup('template', 'master-haproxy.cfg.tmpl.j2') | b64encode }}"
        }
      },
      {
        "path": "/etc/kubernetes/static-pod-resources/keepalived/keepalived.conf.tmpl",
        "mode": 420,
        "overwrite": true,
        "contents": {
            "source": "data:text/plain;charset=utf-8;base64,{{ lookup('template', 'master-keepalived.conf.tmpl.j2') | b64encode }}"
        }
      },
      {
        "path": "/etc/kubernetes/static-pod-resources/keepalived/scripts/chk_default_ingress.sh.tmpl",
        "mode": 420,
        "overwrite": true,
        "contents": {
            "source": "data:text/plain;charset=utf-8;base64,{{ lookup('template', 'master-keepalived-chk_default_ingress.sh.tmpl.j2') | b64encode }}"
        }
      },
      {
        "path": "/etc/kubernetes/static-pod-resources/keepalived/scripts/chk_ocp_script.sh.tmpl",
        "mode": 420,
        "overwrite": true,
        "contents": {
            "source": "data:text/plain;charset=utf-8;base64,{{ lookup('template', 'master-keepalived-chk_ocp_script.sh.tmpl.j2') | b64encode }}"
        }
      },
      {
        "path": "/etc/kubernetes/static-pod-resources/keepalived/scripts/chk_ocp_script_both.sh.tmpl",
        "mode": 420,
        "overwrite": true,
        "contents": {
            "source": "data:text/plain;charset=utf-8;base64,{{ lookup('template', 'master-keepalived-chk_ocp_script_both.sh.tmpl.j2') | b64encode }}"
        }
      },
      {
        "path": "/etc/kubernetes/static-pod-resources/mdns/config.hcl.tmpl",
        "mode": 420,
        "overwrite": true,
        "contents": {
            "source": "data:text/plain;charset=utf-8;base64,{{ lookup('template', 'master-mdns-config.hcl.tmpl.j2') | b64encode }}"
        }
      },
      {
        "path": "/etc/sysconfig/network-scripts/ifcfg-ens3",
        "mode": 420,
        "overwrite": true,
        "contents": {
            "source": "data:text/plain;charset=utf-8;base64,{{ lookup('template', 'master-ifcfg-ens3.j2') | b64encode }}"
        }
      },
      {
        "path": "/etc/sysconfig/network-scripts/ifcfg-ens4",
        "mode": 420,
        "overwrite": true,
        "contents": {
            "source": "data:text/plain;charset=utf-8;base64,{{ lookup('template', 'master-ifcfg-ens4.j2') | b64encode }}"
        }
      },
      {
        "path": "/etc/sysconfig/network-scripts/ifcfg-ens5",
        "mode": 420,
        "overwrite": true,
        "contents": {
            "source": "data:text/plain;charset=utf-8;base64,{{ lookup('template', 'master-ifcfg-ens5.j2') | b64encode }}"
        }
      },
      {
        "path": "/etc/sysconfig/network-scripts/ifcfg-ens6",
        "mode": 420,
        "overwrite": true,
        "contents": {
            "source": "data:text/plain;charset=utf-8;base64,{{ lookup('template', 'master-ifcfg-ens6.j2') | b64encode }}"
        }
      },
      {
        "path": "/etc/sysconfig/network-scripts/route-ens4",
        "mode": 420,
        "overwrite": true,
        "contents": {
            "source": "data:text/plain;charset=utf-8;base64,{{ lookup('template', 'master-route-ens4.j2') | b64encode }}"
        }
      },
      {
        "path": "/etc/sysconfig/network-scripts/route-ens5",
        "mode": 420,
        "overwrite": true,
        "contents": {
            "source": "data:text/plain;charset=utf-8;base64,{{ lookup('template', 'master-route-ens5.j2') | b64encode }}"
        }
      },
      {
        "path": "/etc/systemd/system/kubelet.service.d/80-nodeip.conf",
        "mode": 420,
        "overwrite": true,
        "contents": {
           "source": "data:text/plain;charset=utf-8;base64,{{ ("[Service]\nEnvironment=KUBELET_NODE_IP=\""+ip_cluster+"\"\n") | b64encode }}"
        }
      }
    ]
  },
  "ignition": {
    "security": {
      "tls": {
        "certificateAuthorities": [
          {
            "source": "data:text/plain;charset=utf-8;base64,{{ certificate_bundle_line }}"
          }
        ]
      }
    },
    "version": "3.1.0",
    "config": {
      "merge": [
        {
          "source": "https://api-int.{{ cluster_domain }}:22623/config/{{ node_type }}"
        }
      ]
    }
  }
}