{% raw %}
. {
    errors
    bufsize 512
    health :18080
    forward . {{- range $upstream := .DNSUpstreams}} {{$upstream}}{{- end}} {
        policy sequential
        max_fails 20
        max_concurrent 5
    }
    cache 30
    reload
{% endraw %}
{% raw %}
    template IN {{ .Cluster.IngressVIPRecordType }} {% endraw %} {{ cluster_name }}.{{ cluster_domain }} {
        match .*.apps.{{ cluster_name }}.{{ cluster_domain }}
{% raw %}
        answer "{{"{{ .Name }}"}} 60 in {{"{{ .Type }}"}} {% endraw %} {{ keepalived.ingress }}"
        fallthrough
    }
{% raw %}
    template IN {{ .Cluster.IngressVIPEmptyType }} {% endraw %} {{ cluster_name }}.{{ cluster_domain }} {
        match .*.apps.{{ cluster_name }}.{{ cluster_domain }}
        fallthrough
    }
{% raw %}
    template IN {{ .Cluster.APIVIPRecordType }} {% endraw %} {{ cluster_name }}.{{ cluster_domain }} {
        match api.{{ cluster_name }}.{{ cluster_domain }}
        answer "{{"{{ .Name }}"}} 60 in {{"{{ .Type }}"}} {{ keepalived.api }}"
        fallthrough
    }
{% raw %}
    template IN {{ .Cluster.APIVIPEmptyType }} {% endraw %} {{ cluster_name }}.{{ cluster_domain }} {
        match api.{{ cluster_name }}.{{ cluster_domain }}
        fallthrough
    }
{% raw %}
    template IN {{ .Cluster.APIVIPRecordType }} {% endraw %} {{ cluster_name }}.{{ cluster_domain }} {
        match api-int.{{ cluster_name }}.{{ cluster_domain }}
        answer "{{"{{ .Name }}"}} 60 in {{"{{ .Type }}"}} {{ keepalived.api }}"
        fallthrough
    }
{% raw %}
    template IN {{ .Cluster.APIVIPEmptyType }} {% endraw %} {{ cluster_name }}.{{ cluster_domain }} {
        match api-int.{{ cluster_name }}.{{ cluster_domain }}
        fallthrough
    }
{% raw %}
    hosts {
        {{- range .Cluster.NodeAddresses }}
        {{ .Address }} {{ .Name }} {{ .Name }}.{{ $.Cluster.Name }}.{{ $.Cluster.Domain }}
        {{- end }}
        fallthrough
    }
}
{% endraw %}
