{
"storage": {
    "files": [
      {
        "path": "/etc/hostname",
        "mode": 420,
        "contents": {
          "source": "data:text/plain;charset=utf-8;base64,{{ fqdn | b64encode }}",
          "verification": {}
        },
        "filesystem": "root"
      },
      {
        "path": "/etc/mdns/hostname",
        "mode": 420,
        "contents": {
          "source": "data:text/plain;charset=utf-8;base64,{{ fqdn | b64encode }}",
          "verification": {}
        },
        "filesystem": "root"
        }
    ]
  },
  "ignition": {
    "config": {
      "merge": [
        {
          "source": "https://api-int.{{ cluster_name }}.{{ cluster_domain }}:22623/config/{{ node_type }}"
        }
      ]
    },
    "security": {
      "tls": {
        "certificateAuthorities": [
          {
            "source": "data:text/plain;charset=utf-8;base64,{{ worker_certificate_bundle_line }}"
          }
        ]
      }
    },
    "version": "3.1.0"
  }
}