. {
    errors
    health :18080
    mdns demotelbm.zerotodevops.com {{.Cluster.MasterAmount}} {{.Cluster.Name}} {{.NonVirtualIP}}
    forward . {{- range $upstream := .DNSUpstreams}} {{$upstream}}{{- end}} {
        policy sequential
    }
    cache 30
    reload
    hosts /etc/coredns/api-int.hosts demotel.zerotodevops.com {
        10.0.0.5 api-int.demotelbm.zerotodevops.com api.demotelbm.zerotodevops.com
        fallthrough
    }
}